

Thanks for playing Battleships Web!
<p>Error! No name enterred! Please enter a name to continue.</p>

<p>
<form action="/game/start" method="post">
    What's your name?
    <input type="text" name="name">
    <input type="submit">
</form></p>
