<div>
  <center>Ready, <%= @name %>? Let's go!</center>

  <pre><%= @board %></pre>
  <!-- <img src="http://bit.ly/1A2ANdP"> -->

  <!-- Enter the coordinate on which to place your first ship and it's directionality>>

  <form action="/game/start" method="post">
    <input type="text" name="name">
    <input type="submit" value="submit">
  </form> -->

</div>
